<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <!--<sessionState mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="data Source=dmsqa.vadilalgroup.com;Database=master;Persist Security Info=True;user id=sa;password=VDVC@SOFT#999" cookieless="false" timeout="120" />-->
    <!--<sessionState mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="data Source=192.168.4.36;Database=Vadilal_DMS_QA;Persist Security Info=True;user id=sa;password=vc@erp_123" cookieless="false" timeout="120" />-->
    <httpRuntime executionTimeout="110" maxRequestLength="20000" maxQueryStringLength="2097151" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Device, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />-->
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="SAPBusinessObjects.WPF.Viewer, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="SAPBusinessObjects.WPF.ViewerShared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="asp" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <customErrors mode="Off" defaultRedirect="~/AccessError.aspx?q=unquie">
      <error statusCode="404" redirect="AccessError.aspx?q=pnf" />
      <error statusCode="403" redirect="AccessError.aspx?q=ace" />
      <error statusCode="500" redirect="AccessError.aspx?q=isr" />
    </customErrors>
  </system.web>
  <system.transactions>
    <defaultSettings timeout="02:00:00" />
  </system.transactions>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" maxQueryString="2097151" />
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <add key="SMSUserID" value="vadilaldmsTEST" />
    <add key="SMSPassword" value="vadilal@1234TEST" />
    <add key="SMSSenderID" value="VADDMSTEST" />
    <add key="SMSMobileNumber" value="9909301020TEST" />
    <add key="Version" value="QA" />
    <add key="WhatsAppApiKey" value="25dbfb3c-93ad-11ec-a7c7-9606c7e32d76TEST" />
    <add key="WhatsAppSalesTempID" value="5725TEST" />
    <add key="WhatsAppSalesReturnTempID" value="5726TEST" />
    <add key="WhatsAppNoSalesEmpTempID" value="5727TEST" />
    <add key="WhatsAppNoSalesDistTempID" value="5728TEST" />
    <add key="WhatsAppMobileNumber" value="7507059900TEST" />
    <add key="WebsiteURL" value="https://dmsqa.vadilalgroup.com/" />
    <add key="srcName" value="VCERP101" />
    <add key="GoogleAppID" value="AIzaSyCuWjCiaLBneJBgeZ26kATLQ-laRXDe8vw" />
    <add key="SENDER_ID" value="127667991959" />
    <add key="IndentToSAP" value="1000" />
    <add key="applicationid" value="AAAAU5mrKoQ:APA91bFKkTYa3JNuRXhiQqaeOONYWYWWQk6m5JWgM6gwEYmBDikmuMPndNoYdMw_nK1S4s766an1Bb5CunCIbDlfCQEGrJ4Nmo-86YDfF5ZGanutPaJWnHg8i_ggiPcuSPXVEF8pxhm3" />
    <add key="senderid" value="359060417156" />
    <add key="ReturnReference.SI_SynchOut_ReturnOrder" value="http://vilpidev.vadilal.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DMS_DB&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SynchOut_ReturnOrder&amp;interfaceNamespace=http://vadilal.com/DMS_to_SAP/ReturnOrder" />
    <add key="Scheme.SI_SynchOut_Master_SchemeCrMemo" value="http://vilpidev.vadilal.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DMS_DB&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SynchOut_Master_SchemeCrMemo&amp;interfaceNamespace=http://vadilal.com/DMS_to_SAP/MasterSchemeCreditMemo" />
    <add key="CustomerLedger.SI_SynchOut_Custledmail" value="http://vilpidev.vadilal.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DMS_DB&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SynchOut_Custledmail&amp;interfaceNamespace=http://vadilal.com/DMS_to_SAP/Custledmail" />
    <add key="GST_CustomerSync.SI_SynchOut_VendorPortal_GST" value="http://vilpidev.vadilal.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_VENDOR_PORTAL&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SynchOut_VendorPortal_GST&amp;interfaceNamespace=http://vadilal.com/VendorPortal_to_SAP/VP_GST" />
    <add key="ClaimDMS.SI_SynchOut_ClaimDMS" value="http://vilpidev.vadilal.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DMS_DB&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SynchOut_ClaimDMS&amp;interfaceNamespace=http://vadilal.com/DMS_to_SAP/Claimdms" />
    <add key="WebReference.SI_SynchOut_IndentCreation" value="http://vilpidev.vadilal.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DMS_DB&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SynchOut_IndentCreation&amp;interfaceNamespace=http://vadilal.com/DMS_to_SAP/IndentCreation" />
  </appSettings>
  <connectionStrings>
    <add name="DDMSEntities" connectionString="metadata=res://*/App_Code.DDMS.csdl|res://*/App_Code.DDMS.ssdl|res://*/App_Code.DDMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dmsqa.vadilalgroup.com;Initial Catalog=DMS_QA_Nov_23;user id=sa;password=VDVC@SOFT#999;Connect Timeout=300;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DDMSEntities" connectionString="metadata=res://*/App_Code.DDMS.csdl|res://*/App_Code.DDMS.ssdl|res://*/App_Code.DDMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.4.36;Initial Catalog=Vadilal_DMS_QA;user id=sa;password=vc@erp_123;Connect Timeout=300;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ReportDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ClientDoc" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Controllers" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.XmlSerialize" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ObjectFactory" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommLayer" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Prompting" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CubeDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonObjectModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>